.flipper-container {
  float: left;

  width: 90px;
  height: 90px;
  margin: 8.5px;
  color: grey;

  display: block;

  > div.flipper {
    float: left;
    width: 100%;
    height: 100%;
    perspective: 700;

    position: relative;
    border: 1px solid gold;
    transform-style: preserve-3d;
    cursor: pointer;

    .front,
    .back {
      float: left;
      display: flex;
      width: 100%;
      height: 100%;

      backface-visibility: hidden;

      position: absolute;

      transform-style: preserve-3d;
      transition: -webkit-transform ease 500ms;
      transition: transform ease 500ms;
      transition: all 0.5s ease;
    }

    .back {
      background: red;
      transform: rotateY(180deg);
    }

    .front {
      z-index: 2;

      background: #19489e;
    }

    background-image: linear-gradient(
      bottom,
      rgb(73, 132, 180) 0%,
      rgb(97, 155, 203) 100%
    );
    background-image: -o-linear-gradient(
      bottom,
      rgb(73, 132, 180) 0%,
      rgb(97, 155, 203) 100%
    );
    background-image: -moz-linear-gradient(
      bottom,
      rgb(73, 132, 180) 0%,
      rgb(97, 155, 203) 100%
    );
    background-image: -ms-linear-gradient(
      bottom,
      rgb(73, 132, 180) 0%,
      rgb(97, 155, 203) 100%
    );
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(73, 132, 180)) color-stop(1, rgb(97, 155, 203))
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 6px 0px blue, 0px 3px 15px rgba(0, 0, 0, 0.4),
      inset 0px 1px 0px rgba(255, 255, 124);
    -moz-border-shadow: 0px 6px 0px blue, 0px 3px 15px rgba(0, 0, 0, 0.4),
      inset 0px 1px 0px rgba(255, 255, 124);
    box-shadow: 0px 6px 0px blue, 0px 3px 15px rgba(0, 0, 0, 0.4),
      inset 0px 1px 0px rgba(255, 255, 124);
  }
}

.flipper-container.horizontal {
  .front {
    transform: rotateY(0deg);
  }
  .back {
    transform: rotateY(180deg);
  }

  div.flipper.flipped {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }
}

.flipper:active {
  background-image: linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88, 154, 204)) color-stop(1, rgb(90, 150, 199))
  );
}

.border-row:after {
  clear: both;
  content: "";
  display: table;
}

.card:focus {
  outline: none;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.start-button {
  border: 1px solid rgb(255, 208, 0);
  margin-top: 20px;
  margin-left: 5px;
  background: rgb(94, 255, 0);

  width: 100px;
  color: rgb(255, 60, 0);

  background-image: linear-gradient(
    bottom,
    rgb(180, 73, 175) 0%,
    rgb(201, 203, 97) 100%
  );

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px rgb(200, 255, 0),
    0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgb(172, 255, 124);
  -moz-border-shadow: 0px 6px 0px rgb(179, 255, 0),
    0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 124);
  box-shadow: 0px 6px 0px rgb(0, 255, 0), 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 124);
}

.start-button:active {
  background-image: linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88, 154, 204)) color-stop(1, rgb(90, 150, 199))
  );
}
